In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df_environment = pd.read_csv('../mergedData/Weather+Holidays+Openings.csv', delimiter=',')
df_environment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 20 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Date                                                           8760 non-null   object
 1   Hour                                                           8760 non-null   int64
 2   Hourly average wind (0.1 m/s)                                  8760 non-null   int64
 3   Temperature at 1.5m height (0.1 degrees)                       8760 non-null   int64
 4   Duration of sunshine per hour (0.1 hours) (-1 for <0.05 hour)  8760 non-null   int64
 5   Fog (1 or 0)                                                   8760 non-null   int64
 6   Rain (1 or 0)                                                  8760 non-null   int64
 7   Snow (1 or 0)                                                  8760 non-null   int64
 8   Thunder (1 or 0)                                               8760 non-null   int64
 9   Ice formation (1 or 0)                                         8760 non-null   int64
 10  Hour of year                                                   8760 non-null   int64
 11  NL national holiday                                            8760 non-null   float64
 12  BE national holiday                                            8760 non-null   float64
 13  DE national holiday                                            8760 non-null   float64
 14  FR national holiday                                            8760 non-null   float64
 15  NL school holiday                                              8760 non-null   float64
 16  BE school holiday                                              8760 non-null   float64
 17  DE school holiday                                              8760 non-null   float64
 18  FR school holiday                                              8760 non-null   float64
 19  Opening_duration_in_seconds                                    8760 non-null   float64
dtypes: float64(9), int64(10), object(1)
memory usage: 1.3+ MB

In [3]:
csv_files = []
# Walk the directory tree
for root, dirs, files in os.walk('../intensityForMerge'):
    for file in files:
        # Check if the file ends with '.csv'
        if file.endswith('.csv'):
            # Get the full path to the file
            full_path = os.path.join(root, file)
            csv_files.append(full_path)
csv_files

['../intensityForMerge\\df_East2022_intensity.csv',
 '../intensityForMerge\\df_West2022_intensity.csv',
 '../intensityForMerge\\df_west_intensity.csv',
 '../intensityForMerge\\df__East_intensity.csv']

In [4]:
new_csv_files = [os.path.basename(file_path) for file_path in csv_files]
new_csv_files = [os.path.join('../intensityMerge', filename) for filename in new_csv_files]
new_csv_files

['../intensityMerge\\df_East2022_intensity.csv',
 '../intensityMerge\\df_West2022_intensity.csv',
 '../intensityMerge\\df_west_intensity.csv',
 '../intensityMerge\\df__East_intensity.csv']

In [5]:
df_file_path = (csv_files[2])
df = pd.read_csv(df_file_path, delimiter=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8750 entries, 0 to 8749
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8750 non-null   object
 1   hour               8750 non-null   int64
 2   object intensity   8750 non-null   int64
 3   Hour of the year   8750 non-null   int64
dtypes: int64(3), object(1)
memory usage: 273.6+ KB

In [6]:
column_mapping = {'object intensity ': 'object intensity West 2023',"Hour of the year":"Hour of year"}
df = df[['object intensity ', 'Hour of the year']].rename(columns=column_mapping)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8750 entries, 0 to 8749
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object intensity West 2023  8750 non-null   int64
 1   Hour of year                8750 non-null   int64
dtypes: int64(2)
memory usage: 136.8 KB

In [7]:
df_merged = pd.merge(df_environment, df, on='Hour of year', how='left')
df_merged.info()
df_merged.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 21 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Date                                                           8760 non-null   object
 1   Hour                                                           8760 non-null   int64
 2   Hourly average wind (0.1 m/s)                                  8760 non-null   int64
 3   Temperature at 1.5m height (0.1 degrees)                       8760 non-null   int64
 4   Duration of sunshine per hour (0.1 hours) (-1 for <0.05 hour)  8760 non-null   int64
 5   Fog (1 or 0)                                                   8760 non-null   int64
 6   Rain (1 or 0)                                                  8760 non-null   int64
 7   Snow (1 or 0)                                                  8760 non-null   int64
 8   Thunder (1 or 0)                                               8760 non-null   int64
 9   Ice formation (1 or 0)                                         8760 non-null   int64
 10  Hour of year                                                   8760 non-null   int64
 11  NL national holiday                                            8760 non-null   float64
 12  BE national holiday                                            8760 non-null   float64
 13  DE national holiday                                            8760 non-null   float64
 14  FR national holiday                                            8760 non-null   float64
 15  NL school holiday                                              8760 non-null   float64
 16  BE school holiday                                              8760 non-null   float64
 17  DE school holiday                                              8760 non-null   float64
 18  FR school holiday                                              8760 non-null   float64
 19  Opening_duration_in_seconds                                    8760 non-null   float64
 20  object intensity West 2023                                     8749 non-null   float64
dtypes: float64(10), int64(10), object(1)
memory usage: 1.4+ MB

,Date,Hour,Hourly average wind (0.1 m/s),Temperature at 1.5m height (0.1 degrees),Duration of sunshine per hour (0.1 hours) (-1 for <0.05 hour),Fog (1 or 0),Rain (1 or 0),Snow (1 or 0),Thunder (1 or 0),Ice formation (1 or 0),...,NL national holiday,BE national holiday,DE national holiday,FR national holiday,NL school holiday,BE school holiday,DE school holiday,FR school holiday,Opening_duration_in_seconds,object intensity West 2023
0,2023-01-01,1,140,131,0,0,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,621.0
1,2023-01-01,2,140,128,0,0,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,426.0
2,2023-01-01,3,140,126,0,0,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,213.0
3,2023-01-01,4,140,112,0,0,1,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,104.0
4,2023-01-01,5,110,106,0,0,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2023-01-04,24,130,98,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,188.0
96,2023-01-05,1,130,98,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,112.0
97,2023-01-05,2,120,97,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,56.0
98,2023-01-05,3,110,98,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,44.0
99,2023-01-05,4,90,97,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,109.0

In [8]:
df_file_path = (csv_files[3])
df = pd.read_csv(df_file_path, delimiter=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8750 entries, 0 to 8749
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8750 non-null   object
 1   hour               8750 non-null   int64
 2   object intensity   8750 non-null   int64
 3   Hour of the year   8750 non-null   int64
dtypes: int64(3), object(1)
memory usage: 273.6+ KB

In [9]:
column_mapping = {'object intensity ': 'object intensity East 2023',"Hour of the year":"Hour of year"}
df = df[['object intensity ', 'Hour of the year']].rename(columns=column_mapping)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8750 entries, 0 to 8749
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object intensity East 2023  8750 non-null   int64
 1   Hour of year                8750 non-null   int64
dtypes: int64(2)
memory usage: 136.8 KB

In [10]:
df_merged = pd.merge(df_merged, df, on='Hour of year', how='left')
df_merged.info()
df_merged.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 22 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Date                                                           8760 non-null   object
 1   Hour                                                           8760 non-null   int64
 2   Hourly average wind (0.1 m/s)                                  8760 non-null   int64
 3   Temperature at 1.5m height (0.1 degrees)                       8760 non-null   int64
 4   Duration of sunshine per hour (0.1 hours) (-1 for <0.05 hour)  8760 non-null   int64
 5   Fog (1 or 0)                                                   8760 non-null   int64
 6   Rain (1 or 0)                                                  8760 non-null   int64
 7   Snow (1 or 0)                                                  8760 non-null   int64
 8   Thunder (1 or 0)                                               8760 non-null   int64
 9   Ice formation (1 or 0)                                         8760 non-null   int64
 10  Hour of year                                                   8760 non-null   int64
 11  NL national holiday                                            8760 non-null   float64
 12  BE national holiday                                            8760 non-null   float64
 13  DE national holiday                                            8760 non-null   float64
 14  FR national holiday                                            8760 non-null   float64
 15  NL school holiday                                              8760 non-null   float64
 16  BE school holiday                                              8760 non-null   float64
 17  DE school holiday                                              8760 non-null   float64
 18  FR school holiday                                              8760 non-null   float64
 19  Opening_duration_in_seconds                                    8760 non-null   float64
 20  object intensity West 2023                                     8749 non-null   float64
 21  object intensity East 2023                                     8749 non-null   float64
dtypes: float64(11), int64(10), object(1)
memory usage: 1.5+ MB

,Date,Hour,Hourly average wind (0.1 m/s),Temperature at 1.5m height (0.1 degrees),Duration of sunshine per hour (0.1 hours) (-1 for <0.05 hour),Fog (1 or 0),Rain (1 or 0),Snow (1 or 0),Thunder (1 or 0),Ice formation (1 or 0),...,BE national holiday,DE national holiday,FR national holiday,NL school holiday,BE school holiday,DE school holiday,FR school holiday,Opening_duration_in_seconds,object intensity West 2023,object intensity East 2023
0,2023-01-01,1,140,131,0,0,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,621.0,699.0
1,2023-01-01,2,140,128,0,0,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,426.0,309.0
2,2023-01-01,3,140,126,0,0,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,213.0,148.0
3,2023-01-01,4,140,112,0,0,1,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,104.0,102.0
4,2023-01-01,5,110,106,0,0,0,0,0,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,88.0,92.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2023-01-04,24,130,98,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,188.0,134.0
96,2023-01-05,1,130,98,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,112.0,84.0
97,2023-01-05,2,120,97,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,56.0,64.0
98,2023-01-05,3,110,98,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,44.0,44.0
99,2023-01-05,4,90,97,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,109.0,119.0

In [11]:
df_merged.fillna(0, inplace=True)

In [12]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 22 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Date                                                           8760 non-null   object
 1   Hour                                                           8760 non-null   int64
 2   Hourly average wind (0.1 m/s)                                  8760 non-null   int64
 3   Temperature at 1.5m height (0.1 degrees)                       8760 non-null   int64
 4   Duration of sunshine per hour (0.1 hours) (-1 for <0.05 hour)  8760 non-null   int64
 5   Fog (1 or 0)                                                   8760 non-null   int64
 6   Rain (1 or 0)                                                  8760 non-null   int64
 7   Snow (1 or 0)                                                  8760 non-null   int64
 8   Thunder (1 or 0)                                               8760 non-null   int64
 9   Ice formation (1 or 0)                                         8760 non-null   int64
 10  Hour of year                                                   8760 non-null   int64
 11  NL national holiday                                            8760 non-null   float64
 12  BE national holiday                                            8760 non-null   float64
 13  DE national holiday                                            8760 non-null   float64
 14  FR national holiday                                            8760 non-null   float64
 15  NL school holiday                                              8760 non-null   float64
 16  BE school holiday                                              8760 non-null   float64
 17  DE school holiday                                              8760 non-null   float64
 18  FR school holiday                                              8760 non-null   float64
 19  Opening_duration_in_seconds                                    8760 non-null   float64
 20  object intensity West 2023                                     8760 non-null   float64
 21  object intensity East 2023                                     8760 non-null   float64
dtypes: float64(11), int64(10), object(1)
memory usage: 1.5+ MB

In [13]:
# Export the DataFrame to a new CSV file
df_merged.to_csv('../finalMerge.csv', index=False)