In [83]:
import pandas as pd
import os
mport matplotlib.pyplot as plt

In [84]:
# Adjust pandas display options to ensure all columns are shown
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', None)
pd.set_option('display.max_rows', None)

In [85]:
csv_files = []
# Walk the directory tree
for root, dirs, files in os.walk('../jrcz_datafest_2024_datasets'):
    for file in files:
        # Check if the file ends with '.csv'
        if file.endswith('.csv'):
            # Get the full path to the file
            full_path = os.path.join(root, file)
            csv_files.append(full_path)

csv_files

['../jrcz_datafest_2024_datasets\\data-bridge-openings-2023\\bridge-openings-2023-Processed-KSB-SB.csv',
 '../jrcz_datafest_2024_datasets\\data-bridge-openings-2023\\zeeland_passages_2023.csv',
 '../jrcz_datafest_2024_datasets\\data-weather\\by-day\\weer-daggegevens-2023-vlis-dates-parsed.csv',
 '../jrcz_datafest_2024_datasets\\data-weather\\by-day\\weer-daggegevens-2023-vlis.csv',
 '../jrcz_datafest_2024_datasets\\data-weather\\by-day\\weer-uurgegevens-2023-vlis-datetimes-parsed.csv',
 '../jrcz_datafest_2024_datasets\\data-weather\\by-hour\\weer-uurgegevens-processed-2023.csv',
 '../jrcz_datafest_2024_datasets\\holidays\\national_holidays_NLBEDEFR_2023.csv',
 '../jrcz_datafest_2024_datasets\\holidays\\school_holidays_NLBEDEFR_2023.csv',
 '../jrcz_datafest_2024_datasets\\intensity-speed-export-a58-east\\intensity-speed-export-2022.csv',
 '../jrcz_datafest_2024_datasets\\intensity-speed-export-a58-east\\intensity-speed-export-2023.csv',
 '../jrcz_datafest_2024_datasets\\intensity-speed-export-a58-west\\intensity-speed-export-2022.csv',
 '../jrcz_datafest_2024_datasets\\intensity-speed-export-a58-west\\intensity-speed-export-2023.csv',
 '../jrcz_datafest_2024_datasets\\vri-data\\vri_data_2023.csv',
 '../jrcz_datafest_2024_datasets\\vri-data\\vri_names.csv']

In [86]:
df_file_path = (csv_files[11])
df = pd.read_csv(df_file_path, delimiter=',')
df.info()

C:\Users\nieks\AppData\Local\Temp\ipykernel_31996\252339799.py:2: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(df_file_path, delimiter=',')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12589488 entries, 0 to 12589487
Data columns (total 17 columns):
 #   Column                             Dtype
---  ------                             -----
 0   id_meetlocatie                     object
 1   ndw_index                          object
 2   start_meetperiode                  object
 3   eind_meetperiode                   object
 4   waarnemingen_intensiteit           int64
 5   waarnemingen_snelheid              int64
 6   gebruikte_minuten_intensiteit      int64
 7   gebruikte_minuten_snelheid         int64
 8   data_error_snelheid                int64
 9   data_error_intensiteit             int64
 10  gem_intensiteit                    int64
 11  gem_snelheid                       float64
 12  gewogen_gem_snelheid               float64
 13  rijstrook_rijbaan                  object
 14  voertuigcategorie                  object
 15  technical_exclusion                float64
 16  traffic_flow_deviation_exclusions  object
dtypes: float64(3), int64(7), object(7)
memory usage: 1.6+ GB

In [87]:
df=df.drop(columns=['gewogen_gem_snelheid'])
df=df.drop(columns=['waarnemingen_snelheid'])
df=df.drop(columns=['data_error_intensiteit'])
df=df.drop(columns=['data_error_snelheid'])
df=df.drop(columns=['gebruikte_minuten_intensiteit'])
df=df.drop(columns=['gebruikte_minuten_snelheid'])
df=df.drop(columns=['technical_exclusion'])
df=df.drop(columns=['id_meetlocatie'])
df=df.drop(columns=['gem_snelheid'])
df=df.drop(columns=['gem_intensiteit'])
df['start_meetperiode'] = pd.to_datetime(df['start_meetperiode'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12589488 entries, 0 to 12589487
Data columns (total 7 columns):
 #   Column                             Dtype
---  ------                             -----
 0   ndw_index                          object
 1   start_meetperiode                  datetime64[ns]
 2   eind_meetperiode                   object
 3   waarnemingen_intensiteit           int64
 4   rijstrook_rijbaan                  object
 5   voertuigcategorie                  object
 6   traffic_flow_deviation_exclusions  object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 672.4+ MB

In [88]:
df['date'] = df['start_meetperiode'].dt.date
df['minute'] = df['start_meetperiode'].dt.minute
df['hour'] = df['start_meetperiode'].dt.hour

df[(df['date'] == '2024-01-01') & (df['minute'] <= 1)& (df['hour'] == 17)]
filtered_df = df[(df['start_meetperiode'].dt.date == pd.to_datetime('2023-12-01').date()) & (df['minute'] <= 1) & (df['hour'] == 17)]

# Display the filtered DataFrame and the first 30 rows of the original DataFrame for verification
column_sum=filtered_df['waarnemingen_intensiteit'].sum()
# print("Sum of column 'waarnemingen_intensiteit':", column_sum)

df= df.groupby(['date', 'hour']).agg({'waarnemingen_intensiteit': 'sum'}).reset_index()
df.head(100)

          date  hour  waarnemingen_intensiteit
0   2023-01-01     0                       226
1   2023-01-01     1                       621
2   2023-01-01     2                       426
3   2023-01-01     3                       213
4   2023-01-01     4                       104
5   2023-01-01     5                        88
6   2023-01-01     6                       146
7   2023-01-01     7                       200
8   2023-01-01     8                       156
9   2023-01-01     9                       240
10  2023-01-01    10                       575
11  2023-01-01    11                      1026
12  2023-01-01    12                      1559
13  2023-01-01    13                      2004
14  2023-01-01    14                      2071
15  2023-01-01    15                      2072
16  2023-01-01    16                      1629
17  2023-01-01    17                      1292
18  2023-01-01    18                      1011
19  2023-01-01    19                       962
20  2023-01-01    20                       774
21  2023-01-01    21                       630
22  2023-01-01    22                       452
23  2023-01-01    23                       299
24  2023-01-02     0                       150
25  2023-01-02     1                        72
26  2023-01-02     2                        36
27  2023-01-02     3                        42
28  2023-01-02     4                        44
29  2023-01-02     5                       110
30  2023-01-02     6                       476
31  2023-01-02     7                      1309
32  2023-01-02     8                      1640
33  2023-01-02     9                      1072
34  2023-01-02    10                      1322
35  2023-01-02    11                      1621
36  2023-01-02    12                      1873
37  2023-01-02    13                      2268
38  2023-01-02    14                      2453
39  2023-01-02    15                      2493
40  2023-01-02    16                      2612
41  2023-01-02    17                      2557
42  2023-01-02    18                      1541
43  2023-01-02    19                      1071
44  2023-01-02    20                       783
45  2023-01-02    21                       681
46  2023-01-02    22                       588
47  2023-01-02    23                       502
48  2023-01-03     0                       172
49  2023-01-03     1                        92
50  2023-01-03     2                        57
51  2023-01-03     3                        44
52  2023-01-03     4                        62
53  2023-01-03     5                       116
54  2023-01-03     6                       544
55  2023-01-03     7                      1651
56  2023-01-03     8                      2082
57  2023-01-03     9                      1371
58  2023-01-03    10                      1690
59  2023-01-03    11                      1805
60  2023-01-03    12                      2150
61  2023-01-03    13                      2253
62  2023-01-03    14                      2537
63  2023-01-03    15                      2511
64  2023-01-03    16                      2990
65  2023-01-03    17                      2887
66  2023-01-03    18                      1695
67  2023-01-03    19                      1184
68  2023-01-03    20                       825
69  2023-01-03    21                       680
70  2023-01-03    22                       638
71  2023-01-03    23                       569
72  2023-01-04     0                       188
73  2023-01-04     1                       102
74  2023-01-04     2                        48
75  2023-01-04     3                        44
76  2023-01-04     4                        66
77  2023-01-04     5                       115
78  2023-01-04     6                       556
79  2023-01-04     7                      1668
80  2023-01-04     8                      2143
81  2023-01-04     9                      1492
82  2023-01-04    10                      1643
83  2023-01-04    11                      1881
84  2023-01-04    12                      2102
85  2023-01-04    13                      2186
86  2023-01-04    14                      2426
87  2023-01-04    15                      2573
88  2023-01-04    16                      2887
89  2023-01-04    17                      3072
90  2023-01-04    18                      1664
91  2023-01-04    19                      1229
92  2023-01-04    20                       827
93  2023-01-04    21                       697
94  2023-01-04    22                       634
95  2023-01-04    23                       548
96  2023-01-05     0                       188
97  2023-01-05     1                       112
98  2023-01-05     2                        56
99  2023-01-05     3                        44

In [92]:
df= df.rename(columns={'waarnemingen_intensiteit':'object intentsity '})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8750 entries, 0 to 8749
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                8750 non-null   object
 1   hour                8750 non-null   int64
 2   object intentsity   8750 non-null   int64
dtypes: int64(2), object(1)
memory usage: 205.2+ KB