In [31]:
import pandas as pd
import os

In [32]:
# Adjust pandas display options to ensure all columns are shown
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', None)
pd.set_option('display.max_rows', None)

In [33]:
csv_files = []
# Walk the directory tree
for root, dirs, files in os.walk('../jrcz_datafest_2024_datasets'):
    for file in files:
        # Check if the file ends with '.csv'
        if file.endswith('.csv'):
            # Get the full path to the file
            full_path = os.path.join(root, file)
            csv_files.append(full_path)

csv_files

['../jrcz_datafest_2024_datasets\\data-bridge-openings-2023\\bridge-openings-2023-Processed-KSB-SB.csv',
 '../jrcz_datafest_2024_datasets\\data-bridge-openings-2023\\zeeland_passages_2023.csv',
 '../jrcz_datafest_2024_datasets\\data-weather\\by-day\\weer-daggegevens-2023-vlis-dates-parsed.csv',
 '../jrcz_datafest_2024_datasets\\data-weather\\by-day\\weer-daggegevens-2023-vlis.csv',
 '../jrcz_datafest_2024_datasets\\data-weather\\by-day\\weer-uurgegevens-2023-vlis-datetimes-parsed.csv',
 '../jrcz_datafest_2024_datasets\\data-weather\\by-hour\\weer-uurgegevens-processed-2023.csv',
 '../jrcz_datafest_2024_datasets\\holidays\\national_holidays_NLBEDEFR_2023.csv',
 '../jrcz_datafest_2024_datasets\\holidays\\school_holidays_NLBEDEFR_2023.csv',
 '../jrcz_datafest_2024_datasets\\intensity-speed-export-a58-east\\intensity-speed-export-2022.csv',
 '../jrcz_datafest_2024_datasets\\intensity-speed-export-a58-east\\intensity-speed-export-2023.csv',
 '../jrcz_datafest_2024_datasets\\intensity-speed-export-a58-west\\intensity-speed-export-2022.csv',
 '../jrcz_datafest_2024_datasets\\intensity-speed-export-a58-west\\intensity-speed-export-2023.csv',
 '../jrcz_datafest_2024_datasets\\vri-data\\vri_data_2023.csv',
 '../jrcz_datafest_2024_datasets\\vri-data\\vri_names.csv']

In [34]:
df_file_path = (csv_files[1])
df_zeeland_passages = pd.read_csv(df_file_path, delimiter=';')

In [35]:
df_zeeland_passages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   BeginJaarEvenement                392 non-null    int64
 1   BeginMaandEvenement               392 non-null    int64
 2   TelpuntNaam                       392 non-null    object
 3   Kolknaam                          228 non-null    object
 4   ScheepstypeCategorieOmschrijving  392 non-null    object
 5   SeinvoeringOmschrijving           312 non-null    object
 6   AantalSchepen                     392 non-null    int64
 7   AantalSchepenGeladen              139 non-null    float64
 8   AantalSchepenLeeg                 350 non-null    float64
 9   AantalContainers                  263 non-null    float64
 10  AantalTEU                         263 non-null    float64
 11  LaadvermogenTotaal                392 non-null    int64
 12  LaadvermogenTotaalGeladen         139 non-null    float64
 13  LaadvermogenTotaalLeeg            350 non-null    float64
 14  VervoerdGewichtTon                153 non-null    float64
dtypes: float64(7), int64(4), object(4)
memory usage: 46.1+ KB

In [36]:
df_zeeland_passages['TelpuntNaam'].value_counts()

TelpuntNaam
Sluis Vlissingen            142
Sluis Veere                  86
Zeelandbrug 1                81
Keersluisbrug Vlissingen     67
Arne Bruggen                 16
Name: count, dtype: int64

In [37]:
df_zeeland_passages['Kolknaam'].value_counts()

Kolknaam
Grote kolk Sluis Vlissingen     80
Kleine kolk Sluis Vlissingen    62
Grote kolk Sluis Veere          53
Kleine kolk Sluis Veere         33
Name: count, dtype: int64

In [38]:
df_file_path = (csv_files[0])
df_bridge_opening = pd.read_csv(df_file_path, delimiter=';')
df_bridge_opening['bridge'].value_counts()

bridge
Keersluisbrug Vlissingen    2812
Sloebrug Vlissingen         2510
Name: count, dtype: int64

In [39]:
df_passage = df_zeeland_passages.loc[df_zeeland_passages['TelpuntNaam'] == 'Keersluisbrug Vlissingen'].reset_index(drop=True)
#df_passage.to_csv('df_passage.csv', index=False)
#df_passage

In [40]:
df_sloebrug = df_bridge_opening.loc[df_bridge_opening['bridge'] == 'Sloebrug Vlissingen'].reset_index(drop=True)
df_KeersluisbrugVlissingen = df_bridge_opening.loc[df_bridge_opening['bridge'] == 'Keersluisbrug Vlissingen'].reset_index(drop=True)
#df_KeersluisbrugVlissingen 
#df_sloebrug

In [41]:
df_passage.isnull().sum()

BeginJaarEvenement                   0
BeginMaandEvenement                  0
TelpuntNaam                          0
Kolknaam                            67
ScheepstypeCategorieOmschrijving     0
SeinvoeringOmschrijving             12
AantalSchepen                        0
AantalSchepenGeladen                41
AantalSchepenLeeg                    8
AantalContainers                    23
AantalTEU                           23
LaadvermogenTotaal                   0
LaadvermogenTotaalGeladen           41
LaadvermogenTotaalLeeg               8
VervoerdGewichtTon                  34
dtype: int64

In [42]:
df_passage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   BeginJaarEvenement                67 non-null     int64
 1   BeginMaandEvenement               67 non-null     int64
 2   TelpuntNaam                       67 non-null     object
 3   Kolknaam                          0 non-null      object
 4   ScheepstypeCategorieOmschrijving  67 non-null     object
 5   SeinvoeringOmschrijving           55 non-null     object
 6   AantalSchepen                     67 non-null     int64
 7   AantalSchepenGeladen              26 non-null     float64
 8   AantalSchepenLeeg                 59 non-null     float64
 9   AantalContainers                  44 non-null     float64
 10  AantalTEU                         44 non-null     float64
 11  LaadvermogenTotaal                67 non-null     int64
 12  LaadvermogenTotaalGeladen         26 non-null     float64
 13  LaadvermogenTotaalLeeg            59 non-null     float64
 14  VervoerdGewichtTon                33 non-null     float64
dtypes: float64(7), int64(4), object(4)
memory usage: 8.0+ KB