In [1]:
import pandas as pd
import os

In [2]:
# Adjust pandas display options to ensure all columns are shown
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', None)
pd.set_option('display.max_rows', None)

In [3]:
csv_files = []
# Walk the directory tree
for root, dirs, files in os.walk('../jrcz_datafest_2024_datasets'):
    for file in files:
        # Check if the file ends with '.csv'
        if file.endswith('.csv'):
            # Get the full path to the file
            full_path = os.path.join(root, file)
            csv_files.append(full_path)
csv_files

['../jrcz_datafest_2024_datasets\\data-bridge-openings-2023\\bridge-openings-2023-Processed-KSB-SB.csv',
 '../jrcz_datafest_2024_datasets\\data-bridge-openings-2023\\zeeland_passages_2023.csv',
 '../jrcz_datafest_2024_datasets\\data-weather\\by-day\\weer-daggegevens-2023-vlis-dates-parsed.csv',
 '../jrcz_datafest_2024_datasets\\data-weather\\by-day\\weer-daggegevens-2023-vlis.csv',
 '../jrcz_datafest_2024_datasets\\data-weather\\by-day\\weer-uurgegevens-2023-vlis-datetimes-parsed.csv',
 '../jrcz_datafest_2024_datasets\\data-weather\\by-hour\\weer-uurgegevens-processed-2023.csv',
 '../jrcz_datafest_2024_datasets\\holidays\\national_holidays_NLBEDEFR_2023.csv',
 '../jrcz_datafest_2024_datasets\\holidays\\school_holidays_NLBEDEFR_2023.csv',
 '../jrcz_datafest_2024_datasets\\intensity-speed-export-a58-east\\intensity-speed-export-2022.csv',
 '../jrcz_datafest_2024_datasets\\intensity-speed-export-a58-east\\intensity-speed-export-2023.csv',
 '../jrcz_datafest_2024_datasets\\intensity-speed-export-a58-west\\intensity-speed-export-2022.csv',
 '../jrcz_datafest_2024_datasets\\intensity-speed-export-a58-west\\intensity-speed-export-2023.csv',
 '../jrcz_datafest_2024_datasets\\vri-data\\vri_data_2023.csv',
 '../jrcz_datafest_2024_datasets\\vri-data\\vri_names.csv']

In [4]:
new_csv_files = [os.path.basename(file_path) for file_path in csv_files]
new_csv_files = [os.path.join('../preprocessed', filename) for filename in new_csv_files]
new_csv_files

['../preprocessed\\bridge-openings-2023-Processed-KSB-SB.csv',
 '../preprocessed\\zeeland_passages_2023.csv',
 '../preprocessed\\weer-daggegevens-2023-vlis-dates-parsed.csv',
 '../preprocessed\\weer-daggegevens-2023-vlis.csv',
 '../preprocessed\\weer-uurgegevens-2023-vlis-datetimes-parsed.csv',
 '../preprocessed\\weer-uurgegevens-processed-2023.csv',
 '../preprocessed\\national_holidays_NLBEDEFR_2023.csv',
 '../preprocessed\\school_holidays_NLBEDEFR_2023.csv',
 '../preprocessed\\intensity-speed-export-2022.csv',
 '../preprocessed\\intensity-speed-export-2023.csv',
 '../preprocessed\\intensity-speed-export-2022.csv',
 '../preprocessed\\intensity-speed-export-2023.csv',
 '../preprocessed\\vri_data_2023.csv',
 '../preprocessed\\vri_names.csv']

In [5]:
df_file_path = (csv_files[0])
df = pd.read_csv(df_file_path, delimiter=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5322 entries, 0 to 5321
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        5322 non-null   int64
 1   opening_duration  5322 non-null   object
 2   bridge            5322 non-null   object
 3   start_datetime    5322 non-null   object
 4   end_datetime      5322 non-null   object
dtypes: int64(1), object(4)
memory usage: 208.0+ KB

In [6]:
df_file_path = (csv_files[1])
df = pd.read_csv(df_file_path, delimiter=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   BeginJaarEvenement                392 non-null    int64
 1   BeginMaandEvenement               392 non-null    int64
 2   TelpuntNaam                       392 non-null    object
 3   Kolknaam                          228 non-null    object
 4   ScheepstypeCategorieOmschrijving  392 non-null    object
 5   SeinvoeringOmschrijving           312 non-null    object
 6   AantalSchepen                     392 non-null    int64
 7   AantalSchepenGeladen              139 non-null    float64
 8   AantalSchepenLeeg                 350 non-null    float64
 9   AantalContainers                  263 non-null    float64
 10  AantalTEU                         263 non-null    float64
 11  LaadvermogenTotaal                392 non-null    int64
 12  LaadvermogenTotaalGeladen         139 non-null    float64
 13  LaadvermogenTotaalLeeg            350 non-null    float64
 14  VervoerdGewichtTon                153 non-null    float64
dtypes: float64(7), int64(4), object(4)
memory usage: 46.1+ KB

In [7]:
# Renaming columns
column_mapping = {
"BeginJaarEvenement":"StartYearEvent",
"BeginMaandEvenement":"StartMonthEvent",
"TelpuntNaam":"Bridge Name",
"Kolknaam":"ChamberName",
"ScheepstypeCategorieOmschrijving":"ShipCategoryDescription",
"SeinvoeringOmschrijving":"SignalingDescription",
"AantalSchepen":"NumberShips",
"AantalSchepenGeladen":"NumberShipsLoaded",
"AantalSchepenLeeg":"NumberShipsEmpty",
"AantalContainers":"NumberContainers",
"AantalTEU":"NumberTEU Loading",
"LaadvermogenTotaal":"CapacityTotal Loading",
"LaadvermogenTotaalGeladen":"CapacityTotal Loaded",
"LaadvermogenTotaalLeeg":"CapacityTotal Empty",
"VervoerdGewichtTon":"TransportedWeightTons",
}
df = df.rename(columns=column_mapping)
df.info()
# Export the DataFrame to a new CSV file
df.to_csv(new_csv_files[1], index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   StartYearEvent           392 non-null    int64
 1   StartMonthEvent          392 non-null    int64
 2   Bridge Name              392 non-null    object
 3   ChamberName              228 non-null    object
 4   ShipCategoryDescription  392 non-null    object
 5   SignalingDescription     312 non-null    object
 6   NumberShips              392 non-null    int64
 7   NumberShipsLoaded        139 non-null    float64
 8   NumberShipsEmpty         350 non-null    float64
 9   NumberContainers         263 non-null    float64
 10  NumberTEU Loading        263 non-null    float64
 11  CapacityTotal Loading    392 non-null    int64
 12  CapacityTotal Loaded     139 non-null    float64
 13  CapacityTotal Empty      350 non-null    float64
 14  TransportedWeightTons    153 non-null    float64
dtypes: float64(7), int64(4), object(4)
memory usage: 46.1+ KB

In [8]:
df_file_path = (csv_files[5])
df = pd.read_csv(df_file_path, delimiter=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 25 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   STN       8760 non-null   int64
 1   YYYYMMDD  8760 non-null   int64
 2   HH        8760 non-null   int64
 3   DD        8760 non-null   int64
 4   FH        8760 non-null   int64
 5   FF        8760 non-null   int64
 6   FX        8760 non-null   int64
 7   T         8760 non-null   int64
 8   T10N      1460 non-null   float64
 9   TD        8760 non-null   int64
 10  SQ        8760 non-null   int64
 11  Q         8760 non-null   int64
 12  DR        8760 non-null   int64
 13  RH        8760 non-null   int64
 14  P         8760 non-null   int64
 15  VV        8760 non-null   int64
 16  N         8760 non-null   int64
 17  U         8760 non-null   int64
 18  WW        3449 non-null   float64
 19  IX        8760 non-null   int64
 20  M         8760 non-null   int64
 21  R         8760 non-null   int64
 22  S         8760 non-null   int64
 23  O         8760 non-null   int64
 24  Y         8760 non-null   int64
dtypes: float64(2), int64(23)
memory usage: 1.7 MB

In [9]:
df.head()

,STN,YYYYMMDD,HH,DD,FH,FF,FX,T,T10N,TD,SQ,Q,DR,RH,P,VV,N,U,WW,IX,M,R,S,O,Y
0,310,20230101,1,200,140,140,180,131,NaN,79,0,0,0,0,10069,75,8,70,NaN,5,0,0,0,0,0
1,310,20230101,2,200,140,140,180,128,NaN,75,0,0,0,0,10076,75,8,70,NaN,5,0,0,0,0,0
2,310,20230101,3,210,140,130,170,126,NaN,77,0,0,0,0,10078,74,8,72,NaN,5,0,0,0,0,0
3,310,20230101,4,210,140,120,200,112,NaN,79,0,0,2,1,10091,75,8,79,23.0,7,0,1,0,0,0
4,310,20230101,5,210,110,100,150,106,NaN,68,0,0,0,0,10099,75,8,77,NaN,5,0,0,0,0,0

In [10]:
# Renaming columns
column_mapping = {
"STN":"Meteostation",
"YYYYMMDD":"Date",
"DD":"Wind direction (degrees)",
"FH":"Hourly average wind (0.1 m/s)",
"FF":"Wind speed in last 10 minutes (0.1 m/s)",
"FX":"Highest wind gust in las hour (0.1m/s)",
"T":"Temperature at 1.5m height (0.1 degrees) ",
"T10N":"Minimum temperature at 0.1m height (0.1 degrees)",
"TD":"Dew point temperature at 1.5m height (0.1 degrees)",
"SQ":"Duration of sunshine per hour (0.1 hours) (-1 for <0.05 hour)",
"Q":"Global radiation per hour (J/cm2)",
"DR":"Precipitation duration (0.1 hour)",
"RH":"Hourly precipitation amount (0.1 mm)",
"P":"Air pressure (0.1 hPa)",
"VV":"Air Trasparency (non-linear scaling)",
"N":"Cloud cover (0-9)",
"U":"Relative humidity at 1.5m height (%)",
"WW":"Weather code (00-99)",
"IX":"Weather code (Manned or auto) (1, 2.3, 4, 5.6, 7)",
"M":"Fog (1 or 0)",
"R":"Rain (1 or 0)",
"S":"Snow (1 or 0)",
"O":"Thunder (1 or 0)",
"Y":"Ice formation (1 or 0)",
}
df = df.rename(columns=column_mapping)
df.info()
# Export the DataFrame to a new CSV file
df.to_csv(new_csv_files[5], index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 25 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Meteostation                                                   8760 non-null   int64
 1   Date                                                           8760 non-null   int64
 2   HH                                                             8760 non-null   int64
 3   Wind direction (degrees)                                       8760 non-null   int64
 4   Hourly average wind (0.1 m/s)                                  8760 non-null   int64
 5   Wind speed in last 10 minutes (0.1 m/s)                        8760 non-null   int64
 6   Highest wind gust in las hour (0.1m/s)                         8760 non-null   int64
 7   Temperature at 1.5m height (0.1 degrees)                       8760 non-null   int64
 8   Minimum temperature at 0.1m height (0.1 degrees)               1460 non-null   float64
 9   Dew point temperature at 1.5m height (0.1 degrees)             8760 non-null   int64
 10  Duration of sunshine per hour (0.1 hours) (-1 for <0.05 hour)  8760 non-null   int64
 11  Global radiation per hour (J/cm2)                              8760 non-null   int64
 12  Precipitation duration (0.1 hour)                              8760 non-null   int64
 13  Hourly precipitation amount (0.1 mm)                           8760 non-null   int64
 14  Air pressure (0.1 hPa)                                         8760 non-null   int64
 15  Air Trasparency (non-linear scaling)                           8760 non-null   int64
 16  Cloud cover (0-9)                                              8760 non-null   int64
 17  Relative humidity at 1.5m height (%)                           8760 non-null   int64
 18  Weather code (00-99)                                           3449 non-null   float64
 19  Weather code (Manned or auto) (1, 2.3, 4, 5.6, 7)              8760 non-null   int64
 20  Fog (1 or 0)                                                   8760 non-null   int64
 21  Rain (1 or 0)                                                  8760 non-null   int64
 22  Snow (1 or 0)                                                  8760 non-null   int64
 23  Thunder (1 or 0)                                               8760 non-null   int64
 24  Ice formation (1 or 0)                                         8760 non-null   int64
dtypes: float64(2), int64(23)
memory usage: 1.7 MB

In [11]:
df_file_path = (csv_files[6])
df = pd.read_csv(df_file_path, delimiter=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gebeurtenis  97 non-null     object
 1   Datum        97 non-null     object
 2   Land         97 non-null     object
dtypes: object(3)
memory usage: 2.4+ KB

In [12]:
# Renaming columns
column_mapping = {
"Gebeurtenis":"Event",
"Datum":"Date",
"Land":"Country",
}
df = df.rename(columns=column_mapping)
df.info()
# Export the DataFrame to a new CSV file
df.to_csv(new_csv_files[6], index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Event    97 non-null     object
 1   Date     97 non-null     object
 2   Country  97 non-null     object
dtypes: object(3)
memory usage: 2.4+ KB

In [13]:
df_file_path = (csv_files[7])
df = pd.read_csv(df_file_path, delimiter=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gebeurtenis  355 non-null    object
 1   Datum        355 non-null    object
 2   Land         355 non-null    object
dtypes: object(3)
memory usage: 8.4+ KB

In [14]:
# Renaming columns
column_mapping = {
"Gebeurtenis":"Event",
"Datum":"Date",
"Land":"Country",
}
df = df.rename(columns=column_mapping)
df.info()
# Export the DataFrame to a new CSV file
df.to_csv(new_csv_files[7], index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Event    355 non-null    object
 1   Date     355 non-null    object
 2   Country  355 non-null    object
dtypes: object(3)
memory usage: 8.4+ KB

In [15]:
df_file_path = (csv_files[8])
df = pd.read_csv(df_file_path, delimiter=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6295764 entries, 0 to 6295763
Data columns (total 17 columns):
 #   Column                             Dtype
---  ------                             -----
 0   id_meetlocatie                     object
 1   ndw_index                          object
 2   start_meetperiode                  object
 3   eind_meetperiode                   object
 4   waarnemingen_intensiteit           int64
 5   waarnemingen_snelheid              int64
 6   gebruikte_minuten_intensiteit      int64
 7   gebruikte_minuten_snelheid         int64
 8   data_error_snelheid                int64
 9   data_error_intensiteit             int64
 10  gem_intensiteit                    int64
 11  gem_snelheid                       float64
 12  gewogen_gem_snelheid               float64
 13  rijstrook_rijbaan                  object
 14  voertuigcategorie                  object
 15  technical_exclusion                float64
 16  traffic_flow_deviation_exclusions  float64
dtypes: float64(4), int64(7), object(6)
memory usage: 816.6+ MB

In [16]:
# Renaming columns
column_mapping = {
"id_meetlocatie":"id_location",
"ndw_index":"ndw_index",
"start_meetperiode":"start_measurements",
"eind_meetperiode":"eind_measurements",
"waarnemingen_intensiteit":"objects_intensity",
"waarnemingen_snelheid":"objects_speed",
"gebruikte_minuten_intensiteit":"minuts_used_intensity",
"gebruikte_minuten_snelheid":"minuts_used_speed",
"data_error_snelheid":"data_error_speed",
"data_error_intensiteit":"data_error_intensity",
"gem_intensiteit":"average_intensity",
"gem_snelheid":"average_speed",
"gewogen_gem_snelheid":"weighted_average_speed",
"rijstrook_rijbaan":"part_lane",
"voertuigcategorie":"vehiclecategory",
"technical_exclusion":"technical_exclusion",
"traffic_flow_deviation_exclusions":"traffic_flow_deviation_exclusions",
}
df = df.rename(columns=column_mapping)
df.info()
# Export the DataFrame to a new CSV file
df.to_csv(new_csv_files[8], index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6295764 entries, 0 to 6295763
Data columns (total 17 columns):
 #   Column                             Dtype
---  ------                             -----
 0   id_location                        object
 1   ndw_index                          object
 2   start_measurements                 object
 3   eind_measurements                  object
 4   objects_intensity                  int64
 5   objects_speed                      int64
 6   minuts_used_intensity              int64
 7   minuts_used_speed                  int64
 8   data_error_speed                   int64
 9   data_error_intensity               int64
 10  average_intensity                  int64
 11  average_speed                      float64
 12  weighted_average_speed             float64
 13  part_lane                          object
 14  vehiclecategory                    object
 15  technical_exclusion                float64
 16  traffic_flow_deviation_exclusions  float64
dtypes: float64(4), int64(7), object(6)
memory usage: 816.6+ MB

In [17]:
df_file_path = (csv_files[9])
df = pd.read_csv(df_file_path, delimiter=',')
df.info()

C:\Users\lordn\AppData\Local\Temp\ipykernel_58836\1286033953.py:2: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(df_file_path, delimiter=',')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6294708 entries, 0 to 6294707
Data columns (total 17 columns):
 #   Column                             Dtype
---  ------                             -----
 0   id_meetlocatie                     object
 1   ndw_index                          object
 2   start_meetperiode                  object
 3   eind_meetperiode                   object
 4   waarnemingen_intensiteit           int64
 5   waarnemingen_snelheid              int64
 6   gebruikte_minuten_intensiteit      int64
 7   gebruikte_minuten_snelheid         int64
 8   data_error_snelheid                int64
 9   data_error_intensiteit             int64
 10  gem_intensiteit                    int64
 11  gem_snelheid                       float64
 12  gewogen_gem_snelheid               float64
 13  rijstrook_rijbaan                  object
 14  voertuigcategorie                  object
 15  technical_exclusion                float64
 16  traffic_flow_deviation_exclusions  object
dtypes: float64(3), int64(7), object(7)
memory usage: 816.4+ MB

In [18]:
# Renaming columns
column_mapping = {
"id_meetlocatie":"id_location",
"ndw_index":"ndw_index",
"start_meetperiode":"start_measurements",
"eind_meetperiode":"eind_measurements",
"waarnemingen_intensiteit":"objects_intensity",
"waarnemingen_snelheid":"objects_speed",
"gebruikte_minuten_intensiteit":"minuts_used_intensity",
"gebruikte_minuten_snelheid":"minuts_used_speed",
"data_error_snelheid":"data_error_speed",
"data_error_intensiteit":"data_error_intensity",
"gem_intensiteit":"average_intensity",
"gem_snelheid":"average_speed",
"gewogen_gem_snelheid":"weighted_average_speed",
"rijstrook_rijbaan":"part_lane",
"voertuigcategorie":"vehiclecategory",
"technical_exclusion":"technical_exclusion",
"traffic_flow_deviation_exclusions":"traffic_flow_deviation_exclusions",
}
df = df.rename(columns=column_mapping)
df.info()
# Export the DataFrame to a new CSV file
df.to_csv(new_csv_files[9], index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6294708 entries, 0 to 6294707
Data columns (total 17 columns):
 #   Column                             Dtype
---  ------                             -----
 0   id_location                        object
 1   ndw_index                          object
 2   start_measurements                 object
 3   eind_measurements                  object
 4   objects_intensity                  int64
 5   objects_speed                      int64
 6   minuts_used_intensity              int64
 7   minuts_used_speed                  int64
 8   data_error_speed                   int64
 9   data_error_intensity               int64
 10  average_intensity                  int64
 11  average_speed                      float64
 12  weighted_average_speed             float64
 13  part_lane                          object
 14  vehiclecategory                    object
 15  technical_exclusion                float64
 16  traffic_flow_deviation_exclusions  object
dtypes: float64(3), int64(7), object(7)
memory usage: 816.4+ MB

In [19]:
df_file_path = (csv_files[10])
df = pd.read_csv(df_file_path, delimiter=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12590136 entries, 0 to 12590135
Data columns (total 17 columns):
 #   Column                             Dtype
---  ------                             -----
 0   id_meetlocatie                     object
 1   ndw_index                          object
 2   start_meetperiode                  object
 3   eind_meetperiode                   object
 4   waarnemingen_intensiteit           int64
 5   waarnemingen_snelheid              int64
 6   gebruikte_minuten_intensiteit      int64
 7   gebruikte_minuten_snelheid         int64
 8   data_error_snelheid                int64
 9   data_error_intensiteit             int64
 10  gem_intensiteit                    int64
 11  gem_snelheid                       float64
 12  gewogen_gem_snelheid               float64
 13  rijstrook_rijbaan                  object
 14  voertuigcategorie                  object
 15  technical_exclusion                float64
 16  traffic_flow_deviation_exclusions  float64
dtypes: float64(4), int64(7), object(6)
memory usage: 1.6+ GB

In [20]:
# Renaming columns
column_mapping = {
"id_meetlocatie":"id_location",
"ndw_index":"ndw_index",
"start_meetperiode":"start_measurements",
"eind_meetperiode":"eind_measurements",
"waarnemingen_intensiteit":"objects_intensity",
"waarnemingen_snelheid":"objects_speed",
"gebruikte_minuten_intensiteit":"minuts_used_intensity",
"gebruikte_minuten_snelheid":"minuts_used_speed",
"data_error_snelheid":"data_error_speed",
"data_error_intensiteit":"data_error_intensity",
"gem_intensiteit":"average_intensity",
"gem_snelheid":"average_speed",
"gewogen_gem_snelheid":"weighted_average_speed",
"rijstrook_rijbaan":"part_lane",
"voertuigcategorie":"vehiclecategory",
"technical_exclusion":"technical_exclusion",
"traffic_flow_deviation_exclusions":"traffic_flow_deviation_exclusions",
}
df = df.rename(columns=column_mapping)
df.info()
# Export the DataFrame to a new CSV file
df.to_csv(new_csv_files[10], index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12590136 entries, 0 to 12590135
Data columns (total 17 columns):
 #   Column                             Dtype
---  ------                             -----
 0   id_location                        object
 1   ndw_index                          object
 2   start_measurements                 object
 3   eind_measurements                  object
 4   objects_intensity                  int64
 5   objects_speed                      int64
 6   minuts_used_intensity              int64
 7   minuts_used_speed                  int64
 8   data_error_speed                   int64
 9   data_error_intensity               int64
 10  average_intensity                  int64
 11  average_speed                      float64
 12  weighted_average_speed             float64
 13  part_lane                          object
 14  vehiclecategory                    object
 15  technical_exclusion                float64
 16  traffic_flow_deviation_exclusions  float64
dtypes: float64(4), int64(7), object(6)
memory usage: 1.6+ GB

In [21]:
df_file_path = (csv_files[11])
df = pd.read_csv(df_file_path, delimiter=',')
df.info()

C:\Users\lordn\AppData\Local\Temp\ipykernel_58836\252339799.py:2: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(df_file_path, delimiter=',')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12589488 entries, 0 to 12589487
Data columns (total 17 columns):
 #   Column                             Dtype
---  ------                             -----
 0   id_meetlocatie                     object
 1   ndw_index                          object
 2   start_meetperiode                  object
 3   eind_meetperiode                   object
 4   waarnemingen_intensiteit           int64
 5   waarnemingen_snelheid              int64
 6   gebruikte_minuten_intensiteit      int64
 7   gebruikte_minuten_snelheid         int64
 8   data_error_snelheid                int64
 9   data_error_intensiteit             int64
 10  gem_intensiteit                    int64
 11  gem_snelheid                       float64
 12  gewogen_gem_snelheid               float64
 13  rijstrook_rijbaan                  object
 14  voertuigcategorie                  object
 15  technical_exclusion                float64
 16  traffic_flow_deviation_exclusions  object
dtypes: float64(3), int64(7), object(7)
memory usage: 1.6+ GB

In [22]:
# Renaming columns
column_mapping = {
"id_meetlocatie":"id_location",
"ndw_index":"ndw_index",
"start_meetperiode":"start_measurements",
"eind_meetperiode":"eind_measurements",
"waarnemingen_intensiteit":"objects_intensity",
"waarnemingen_snelheid":"objects_speed",
"gebruikte_minuten_intensiteit":"minuts_used_intensity",
"gebruikte_minuten_snelheid":"minuts_used_speed",
"data_error_snelheid":"data_error_speed",
"data_error_intensiteit":"data_error_intensity",
"gem_intensiteit":"average_intensity",
"gem_snelheid":"average_speed",
"gewogen_gem_snelheid":"weighted_average_speed",
"rijstrook_rijbaan":"part_lane",
"voertuigcategorie":"vehiclecategory",
"technical_exclusion":"technical_exclusion",
"traffic_flow_deviation_exclusions":"traffic_flow_deviation_exclusions",
}
df = df.rename(columns=column_mapping)
df.info()
# Export the DataFrame to a new CSV file
df.to_csv(new_csv_files[11], index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12589488 entries, 0 to 12589487
Data columns (total 17 columns):
 #   Column                             Dtype
---  ------                             -----
 0   id_location                        object
 1   ndw_index                          object
 2   start_measurements                 object
 3   eind_measurements                  object
 4   objects_intensity                  int64
 5   objects_speed                      int64
 6   minuts_used_intensity              int64
 7   minuts_used_speed                  int64
 8   data_error_speed                   int64
 9   data_error_intensity               int64
 10  average_intensity                  int64
 11  average_speed                      float64
 12  weighted_average_speed             float64
 13  part_lane                          object
 14  vehiclecategory                    object
 15  technical_exclusion                float64
 16  traffic_flow_deviation_exclusions  object
dtypes: float64(3), int64(7), object(7)
memory usage: 1.6+ GB

In [23]:
len(df['ndw_index'].unique())

24

In [24]:
len(df[df['traffic_flow_deviation_exclusions'] == 'tfd'])

725664

In [25]:
df['technical_exclusion'].unique()

array([nan])

In [26]:
df['ndw_index'].value_counts()

ndw_index
F1C     524562
F2C     524562
F41C    524562
F40C    524562
F39C    524562
F38C    524562
F37C    524562
F30C    524562
F29C    524562
F28C    524562
F27C    524562
F26C    524562
F25C    524562
F18C    524562
F17C    524562
F16C    524562
F15C    524562
F14C    524562
F13C    524562
F6C     524562
F5C     524562
F4C     524562
F3C     524562
F42C    524562
Name: count, dtype: int64

In [28]:
df.head()

,id_location,ndw_index,start_measurements,eind_measurements,objects_intensity,objects_speed,minuts_used_intensity,minuts_used_speed,data_error_speed,data_error_intensity,average_intensity,average_speed,weighted_average_speed,part_lane,vehiclecategory,technical_exclusion,traffic_flow_deviation_exclusions
0,GEO0C_Z_RWSTI356588,F1C,2023-01-01 00:00:00,2023-01-01 00:01:00,0,0,1,1,0,0,0,0.0,0.0,lane1,greaterThan 1.85 and lessThanOrEqualTo 2.40,NaN,NaN
1,GEO0C_Z_RWSTI356588,F2C,2023-01-01 00:00:00,2023-01-01 00:01:00,0,0,1,1,0,0,0,0.0,0.0,lane1,greaterThan 2.40 and lessThanOrEqualTo 5.60,NaN,NaN
2,GEO0C_Z_RWSTI356588,F3C,2023-01-01 00:00:00,2023-01-01 00:01:00,0,0,1,1,0,0,0,0.0,0.0,lane1,greaterThan 5.60 and lessThanOrEqualTo 11.50,NaN,NaN
3,GEO0C_Z_RWSTI356588,F4C,2023-01-01 00:00:00,2023-01-01 00:01:00,0,0,1,1,0,0,0,0.0,0.0,lane1,greaterThan 11.50 and lessThanOrEqualTo 12.20,NaN,NaN
4,GEO0C_Z_RWSTI356588,F5C,2023-01-01 00:00:00,2023-01-01 00:01:00,0,0,1,1,0,0,0,0.0,0.0,lane1,greaterThan 12.20,NaN,NaN

In [29]:
df_file_path = (csv_files[12])
df = pd.read_csv(df_file_path, delimiter=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331279 entries, 0 to 331278
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   VRI_ID             331279 non-null  int64
 1   Date               331279 non-null  object
 2   Hour               331279 non-null  object
 3   Count              331279 non-null  int64
 4   Direction          331279 non-null  object
 5   Direction_English  331279 non-null  object
 6   Modality_English   331279 non-null  object
dtypes: int64(2), object(5)
memory usage: 17.7+ MB

In [30]:
df = df.rename(columns=column_mapping)
df.info()
# Export the DataFrame to a new CSV file
df.to_csv(new_csv_files[12], index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331279 entries, 0 to 331278
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   VRI_ID             331279 non-null  int64
 1   Date               331279 non-null  object
 2   Hour               331279 non-null  object
 3   Count              331279 non-null  int64
 4   Direction          331279 non-null  object
 5   Direction_English  331279 non-null  object
 6   Modality_English   331279 non-null  object
dtypes: int64(2), object(5)
memory usage: 17.7+ MB

In [31]:
df_file_path = (csv_files[13])
df = pd.read_csv(df_file_path, delimiter=',')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sensor_ID          48 non-null     int64
 1   Sensor_no          48 non-null     int64
 2   Signalgroup        48 non-null     int64
 3   Modality           48 non-null     object
 4   Modality_English   48 non-null     object
 5   Modality_encoded   48 non-null     object
 6   Direction          48 non-null     object
 7   Direction_English  48 non-null     object
 8   Direction_encoded  48 non-null     object
dtypes: int64(3), object(6)
memory usage: 3.5+ KB

In [32]:
df = df.rename(columns=column_mapping)
df.info()
# Export the DataFrame to a new CSV file
df.to_csv(new_csv_files[13], index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sensor_ID          48 non-null     int64
 1   Sensor_no          48 non-null     int64
 2   Signalgroup        48 non-null     int64
 3   Modality           48 non-null     object
 4   Modality_English   48 non-null     object
 5   Modality_encoded   48 non-null     object
 6   Direction          48 non-null     object
 7   Direction_English  48 non-null     object
 8   Direction_encoded  48 non-null     object
dtypes: int64(3), object(6)
memory usage: 3.5+ KB